<div class='product'>
    <img src='https://placeimg.com/200/100'>
    <h2 class='header'>Product Name</h2>
    <p class='description'>Nullam posuere turpis vel lacinia luctus. Donec in efficitur neque. Curabitur consectetur non ipsum in eleifend. Praesent id velit in nisi maximus porta nec vitae odio. Proin vitae magna a massa accumsan venenatis. Donec semper, sem in ullamcorper
        bibendum, mauris sem imperdiet lorem, tempor aliquet ligula lorem sit amet nibh. Suspendisse potenti.</p>
    <p class='price'>231</p>
    <div class='btn'>Add to cart</div>
    <div class='quickview'>Quickview</div>
</div>