@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');
$nav:#ffffff;
$body:#0b0b0b;
nav {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 70px;
    background-color: $nav;
    line-height: 70px;
    .mini {
        position: fixed;
        top: 80px;
        right: 10px;
        background: #FFF;
        padding: 40px;
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s ease .2s;
        &.visible {
            padding: 40px;
            opacity: 1;
            visibility: visible;
        }
        .products {
            font-weight: bold;
            font-size: 14px;
        }
        p {
            font-size: 11px;
            display: block;
            margin: 0;
            padding: 0;
            line-height: 20px;
        }
    }
    .cart {
        position: relative;
        float: right;
        margin-right: 50px;
        height: 20px;
        line-height: 70px;
        font-size: 28px;
        height: 100%;
        cursor: pointer;
        span {
            height: 100%;
            float: left;
            margin-right: 20px;
            opacity: 1;
            color: #fff;
            font-size: 18px;
            font-family: 'Nunito', sans-serif;
            &.updateQuantity {
                &:before,
                &:after {
                    top: 0;
                    bottom: 0;
                    opacity: 1;
                    width: 30px;
                    transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
                }
            }
            &.update {
                transition: color .2s ease .6s;
                color: #000;
                &:before {
                    top: -30px;
                    width: 30px;
                    opacity: 1;
                    transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
                }
                &:after {
                    top: 30px;
                    width: 30px;
                    opacity: 1;
                    transition: all .2s ease, top .3s ease .4s, bottom .3s ease .4s;
                }
            }
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 0px;
                height: 2px;
                background-color: $body;
                left: -10px;
                right: 40px;
                top: 2px;
                bottom: 0;
                margin: auto;
            }
        }
    }
    ul {
        float: left;
        li {
            font-weight: bold;
            display: inline-block;
            margin-left: 50px;
            color: $body;
            font-size: 12px;
        }
    }
}