@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
$body:#0b0b0b;
$contrast:#00fefe;
$contrastopacity: rgba(0, 254, 254, .4);
$productbg:rgba(255, 255, 255, .45);
$quickViewBg:rgba(0, 0, 0, .90);
$overlay:rgba(0, 0, 0, 1);
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    background-color: $body;
    font-family: 'Nunito', sans-serif;
}

.filter-panel {
    float: left;
    width: 20%;
    border: 1px black;
}

.container {
    float: right;
    padding: 20px;
    padding-top: 100px;
    text-align: center;
    width: 80%;
}